# Extensionless files
*
!/**/
!*.*

# Haskell bits
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# A semelance of purity!
# IPython
.ipynb*
*.ipynb

# Sublime text
*.sublime-workspace

# Logs
*.log

# Profile exports
*.ps

# KDE
.directory

